body { 
    background-color: rgb(175, 182, 182);
    font-family: 'Times New Roman', Times, serif;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
    font-weight: 900;
}

p { 
    max-width: 750px;
    margin: 16px auto;
}

a { 
    color: black;
}


img { 
    display: block;
    margin: 0 auto;
}

li { 
    max-width: 750px;
    margin: 10px auto;
}

ol {
    padding: 0;
}